@model IEnumerable<CRUD_ASP7.Models.Contacto>
@{
    ViewData["Title"] = "Lista de contactos";
}

<h1 class="text-center"> Contactos en INA Upala ASP.Net Core 7</h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Create" asp-controller="Inicio" class="btn btn-outline-primary d-block mx-auto btn-xl">
            Nuevo Usuario
        </a>
    </div>
</div>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de Usuarios</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUsuarios" width="100%" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                    <th>@Html.DisplayNameFor(m => m.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor(m => m.Phone)</th>
                                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="modal fade" id="MyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="modalContentContainer">
                                                    <!-- Aquí se cargará el contenido de las vistas parciales -->
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(m => item.Phone)</td>
                                        <td>@Html.DisplayFor(m => item.Email)</td>
                                        <td class="text-center ">
                                            <button onclick="showPartial(this)" class="btn btn-primary open-modal" data-url="/Inicio/_SaludarContacto" data-id="@item.Id">saludar</button>
                                            <button onclick="showPartial(this)" class="btn btn-warning open-modal" data-url="/Inicio/_EditContact" data-id="@item.Id"><i class="bi bi-pencil-fill mx-2"></i>Editar</button>
                                            <button onclick="showPartial(this)" class="btn btn-secondary open-modal" data-url="/Inicio/_DetailsContact" data-id="@item.Id"><i class="bi bi-info-circle-fill mx-2"></i>Detalles</button>
                                            <button onclick="showPartial(this)" class="btn btn-danger open-modal" data-url="/Inicio/_DeleteContact" data-id="@item.Id"><i class="bi bi-trash3-fill mx-2"></i>Borrar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblUsuarios').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    <script>
        //Obtenemos la dirrecion del controlador que realizar la accion y el Id del modelo a tratar
        function showPartial(triggerElement) {
            var url = $(triggerElement).data("url");
            var id = $(triggerElement).data("id");

            // Concatenar el ID en la URL
            url += "?id=" + id;
            //realizamos una peticion get al controlador indicado en la ruta que se obtuvo del triggerElement
            //function (data) En jQuery, las funciones de callback son funciones que se pasan como argumentos a métodos 
            // se ejecutan en ciertos eventos o cuando se completa una acción específica.
            $.get(url, function (data) {
                //La respuesta del peticon get es codigo html una vista
                $("#modalContentContainer").html(data);

                $("#MyModal").modal("show");//Mostramos el modal
            });
        }
    </script>


}